body{
    margin: 0px;
    padding: 0px;
    background: #1abc9d;
}
h1,h2,h3,h4{
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    margin: 2em auto 0px;
}
.form{
    margin-top: 60px;
    width: 400px;
    height: auto;
    background: #edeff1;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
input[type="text"],.textarea,input[type="password"]{
    display: block;
    width: 309px;
    height: 35px;
    margin: 10px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
input[type="text"]:focus,.textarea:focus,input[type="password"]{
    border: 2px solid #1abc9d
}
input[type="submit"]{
    display: block;
    background: #1abc9d;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}
input[type="submit"]:hover{
    background: #09cca6
}
a{
    text-align: center;
    font-family: Arial;
    color: #ccc;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
}
a:hover{
    color: #111;
}
::-webkit-input-placeholder {
    color: gray;
}
:-moz-placeholder { /* Firefox 18- */
    color: gray;  
}
::-moz-placeholder {  /* Firefox 19+ */
    color: gray;  
}
:-ms-input-placeholder {  
    color: gray;  
}
#issues {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#issues td, #issues th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    text-align: center; 
}

#issues tr:nth-child(even){background-color: #f2f2f2}
#issues tr:nth-child(odd){background-color: #eee    }
#issues tr:hover {background-color: #ddd;}

#issues th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}